.loading-container {
    position: relative;
    height: 100vh;
    background-color: #000;
  }
  
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  
  .loading-spinner:after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
    display: block;
    margin: 0 auto;
  }
  
  .page-content {
    padding-top: 50px;
    text-align: center;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  