// .player-body{
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     background-color: black;
// }

.player_container
{
    width: 50%;
    padding: 1rem;
    border: 1px solid rgba(141, 141, 141, 0);
    border-radius: 10px;
    color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);

    >*
    {
        padding: 1rem 0;
        color: rgb(202, 202, 202);
    }

    .player-title{
        margin-right: auto;
        font-size: inherit;
    }
    .player-navigation{
        width: 100%;

        .player-navigation-wrapper
        {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 8px;
            border-radius: 30px;
            cursor: pointer;
            
            .seek_bar{
                width: 0;
                height: 100%;
                background-color: rgb(0, 0, 0);
                border-radius: 30px;
            }

        }
    }
    .player-controls{
        font-size: inherit;
        display: flex;
        align-items: center;

        .player-btn_action
        {
            font-size: 2rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover{
            color: white;
        }

        }
        
        .pp
        {
            font-size: 4rem;
            
        }
        
    }
}